.container {
  margin-top: 20px;
  display: inline-block;
}

.card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  margin-right: 10px;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.card-text {
  margin-bottom: 2px;
}
